.container
  width 100%
  float left
  .col
    padding 0px 15px
    float left
    &:nth-child(4n)
      padding-right 0px
    &:nth-child(4n + 1)
      padding-left 0px
    > div
      width ((1000px - 90px) / 4)
