.container
  width 100%
  float left
  .col
    padding 0px 15px
    float left
    &:first-child
      padding-left 0px
    &:last-child
      padding-right 0px
    div
      width ((1000px - 90px) / 4)
