&.lines
  margin-bottom 48px
  margin-top 30px
  .line
    h3
      margin-left 38px
      white-space nowrap
    h4
    h5
      margin-left 38px
      font-weight normal
    h5
      font-size 12px
      margin-top 9px
      margin-bottom 3px
      color darken(RussianRed, 20%)
    svg
      path
        fill none
        stroke RussianRed
        stroke-width 1.5px
      circle
        stroke RussianRed
        fill white
        stroke-width 1px
        &.significant
        &.active
          fill RussianRed
      g.axis
        line.full-extent
          stroke #d3
          shape-rendering crispEdges
        line.extent
        line.mark
          stroke lighten(desaturate(RussianRed, 40%), 40%)
          shape-rendering crispEdges
          &.significant
            stroke RussianRed
            stroke-width 2
        text
          font-size 11px
          fill darken(RussianRed, 50%)
  .col.no-heading
    h3
    h4
      display none
    h5
      margin-top 20px
  g.active-lines line.active
    shape-rendering crispEdges
    stroke lighten(desaturate(RussianRed, 40%), 40%)
  .col.other-color
    h5
      color darken(RussianBlue, 20%)
    svg
      circle
        stroke RussianBlue
        &.significant
        &.active
          fill RussianBlue
      path
        stroke RussianBlue
      g.axis
        line.extent
        line.mark
          stroke lighten(desaturate(RussianBlue, 40%), 30%)
          &.significant
            stroke RussianBlue
        text
          fill darken(RussianBlue, 50%)
      g.active-lines line.active
        stroke lighten(desaturate(RussianBlue, 40%), 30%)
  g.interaction rect
    fill transparent
  svg
    circle.significant
    g.axis text.significant
    g.axis line.mark
      transition fill 0.2s, opacity 0.2s
    text.active-text
      opacity 0
  .col svg.active
    circle.significant:not(.active)
    circle.significant:not(.active)
      fill white
    g.axis
      text.significant
      line.mark
        opacity 0
    text.active-text.active
      opacity 1

  &.lines-russia-czech
    .col:nth-child(2)
    .col:nth-child(8)
      g.axis.y text:nth-of-type(3)
        display none
    .col:nth-child(6)
      g.axis.y text:nth-of-type(3)
      g.axis.y text:nth-of-type(4)
        display none
  &.lines-russia-czech-2
    .col:nth-child(4)
      g.axis.y text:nth-of-type(3)
      g.axis.y text:nth-of-type(4)
        display none
    .col:nth-child(6)
      g.axis.y text:nth-of-type(2)
        display none
  &.line-external-deaths
    .col:nth-child(5)
    .col:nth-child(9)
      g.axis.y text:nth-of-type(3)
        display none
    .col:nth-child(7)
    .col:nth-child(12)
      g.axis.y text:nth-of-type(3)
      g.axis.y text:nth-of-type(4)
        display none
    .col:nth-child(11)
      g.axis.y text:nth-of-type(2)
      g.axis.y text:nth-of-type(3)
      g.axis.y text:nth-of-type(4)
        display none

