&.lines
  .line
    h2
      font-size 18px
      font-weight 400
    svg
      path
        fill none
        stroke RussianBlue
        stroke-width 1.5px
      circle
        stroke RussianBlue
        fill white
        stroke-width 1px
