&.lines
  margin-bottom 38px
  .line
    h3
      margin-left 38px
      white-space nowrap
    h4
      margin-bottom 12px
      margin-left 38px
      font-weight normal
    svg
      path
        fill none
        stroke RussianBlue
        stroke-width 1.5px
      circle
        stroke RussianBlue
        fill white
        stroke-width 1px
        &.significant
        &.active
          fill RussianBlue
      g.axis
        line.full-extent
          stroke #d3
          shape-rendering crispEdges
        line.extent
        line.mark
          stroke lighten(desaturate(RussianBlue, 40%), 40%)
          shape-rendering crispEdges
          &.significant
            stroke RussianBlue
            stroke-width 2
        text
          font-size 11px
          fill darken(RussianBlue, 50%)
  .col.no-heading
    h3
    h4
      display none
    svg
      margin-top 20px
  g.active-lines line.active
    shape-rendering crispEdges
    stroke lighten(desaturate(RussianBlue, 40%), 40%)
  .col.other-color
    svg
      circle
        stroke RussianRed
        &.significant
        &.active
          fill RussianRed
      path
        stroke RussianRed
      g.axis
        line.extent
        line.mark
          stroke lighten(desaturate(RussianRed, 40%), 30%)
          &.significant
            stroke RussianRed
        text
          fill darken(RussianRed, 50%)
      g.active-lines line.active
        stroke lighten(desaturate(RussianRed, 40%), 30%)
  g.interaction rect
    fill transparent
  svg
    circle.significant
    g.axis text.significant
    g.axis line.mark
      transition fill 0.2s, opacity 0.2s
    text.active-text
      opacity 0
  .col svg.active
    circle.significant:not(.active)
    circle.significant:not(.active)
      fill white
    g.axis
      text.significant
      line.mark
        opacity 0
    text.active-text.active
      opacity 1

  &.lines-russia-czech
    .col:nth-child(6)
      g.axis.y text:nth-of-type(3)
      g.axis.y text:nth-of-type(4)
        display none
