&.naklady
  float left
  width 100%
  position relative
  .graph
    width 1000px
    svg
      position relative
      left marginLeft
      z-index 2
      g.pole
        line
          stroke #f0
          stroke-width 4
          shape-rendering crispEdges
      g.line
        transition opacity 0.1s
        path
          fill none
          stroke-dasharray 4, 8
          stroke-opacity 0.3
        line
          shape-rendering crispEdges
        &:nth-child(1)
          path, line
            stroke #e41a1c
          circle
           fill #e41a1c
        &:nth-child(2)
          path, line
            stroke #377eb8
          circle
           fill #377eb8
        &:nth-child(3)
          path, line
            stroke #4daf4a
          circle
           fill #4daf4a
        &:nth-child(4)
          path, line
            stroke #984ea3
          circle
           fill #984ea3
        &:nth-child(5)
          path, line
            stroke #ff7f00
          circle
           fill #ff7f00
        &:nth-child(6)
          path, line
            stroke #a65628
          circle
           fill #a65628
      g.label
        text
          opacity 0
          transition opacity 0.1s
      g.voronoi
        path
          fill transparent
    .popisek
      position absolute
      z-index 1
      left (227px * 3 + 15px * 6 + marginLeft)
      width (227px - marginLeft)
      opacity 1
      transition opacity 0.1s
      &:before
        content " "
        position absolute
        top 0px
        bottom 0px
        width 4px
        left 0px
        border 1px dashed #a
        border-left 0px none
      &.single-line:before
        border-bottom 0px none
      .content
        position absolute
        padding-left 20px
        transform translate(0, -50%)
  .graph.active
    g.line
      opacity 0.1
      &.active
        opacity 1
    g.label.active
      text
        opacity 1
    div.popisek
      opacity 0
