&.prirustky
  svg
    circle
      fill #d73027
      fill-opacity 0.7
    line
      stroke #a
      shape-rendering crispEdges
      stroke-dasharray 3, 4
    text
      color #6
      font-size 14px
      font-variant small-caps
      // text-transform uppercase
