@import colors
@import prefixes
marginLeft = 38px
@import 'components/triangle'
@import fitter
@import columns
.ig
  @import basics
  @import Priruskty
  @import Lines
  @import Strom
  @import Naklady

